.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

}

.viewport {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
  flex-grow: 1;
}

.container {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: stretch;
}

.containerHighchartReact {
  flex-basis: 100%;
  flex-grow: 1;
}

.barMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -300px;
  width: 300px;
  border: 1px solid blue;
  background-color: red;
  transition: all .3s ease-out;
}
.barMenu.open {
  margin-left: 0px;
}

.openButton {
  width: 380px;
  height: 80px;
  border: 1px solid blue;
  background-color: darkblue;
}

.wrapper {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 1px solid red;
  background-color: deepskyblue;
}